body {
	background-color:#ff9933;
}

div {
	padding: 60px;
}

div.main {
	background-color: #b3daff;
}

div.bottom {
	background-color: #ff1a75;
}

div.side {
	background-color: #1aff1a;
}

h1 {
	font-family: "georgia";
}

h2 {
	font-family: "georgia";
}

p {
	font-family: "courier";
}

#name {
	text-align: center;
}

#profPic {
	height:300px;
	width: 300px;
}
